.headcontainer{
  width:20% !important;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:5px solid yellow;
  border-radius: 10px;
  background-color: white;
  padding:15px
}

.container{
  width:90% !important;
  margin:0 auto;
}

.span{
  background-color:  lightgray !important;
  border-radius: 10px;
  margin: 25px 0;

  height: 60px;
  font-size: 30px;
}


button{
  height: 55px;
  width: 55px;
  font-size: 18px !important;
  font-weight: 550 !important;
}


.col{
  margin-bottom: 10px;
}

p{
  font-weight: 550;
  text-align: center;
  font-size: 18px;
}