.main{
  width:18%;
  margin:0 auto;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px
}

p{
  font-weight: 550;
  margin:8px 0;
}